<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <body background="/assets/howls.gif" style="background-size: cover;">
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </body>

  <script>
    let sensor = new Gyroscope()
    let x,y,z,report;
    sensor.start()
    document.getElementById("report_box").innerHTML = "Starting"
    console.log("starting")
    sensor.onreading = () => {
       report = "X: " + sensor.x + "<br>"
       report += "Y: " + sensor.y + "<br>"
       report += "Z: " + sensor.z + "<br>"
       //document.getElementById("report_box").innerHTML = report
       console.log(report)
    }
    sensor.onerror = (e) => {
       document.getElementById("report_box").innerHTML = e.error.message
       console.log(e)
    }
 </script>
</html>
